<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
	<li>
     	   <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
        <ul>
	{% for assignment in site.assignments %}
		{% if assignment.code == course.code  %}
       			<li> <a href="{{ assignment.url }}"> {{ assignment.title }} </a> </li>
			<ul>
		{% endif %}
	{% endfor %}
    </li>
    {% endfor %}
  </ul>
</article>
		
<!--
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
	<li>
     	   <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
        <ul>
	{% for assignment in site.assignments %}
		{% if assignment.code == course.code  %}
       			<li> <a href="{{ assignment.url }}"> {{ assignment.title }} </a> </li>
		{% endif %}
	{% endfor %}
        <ul>
  	</li>
    {% endfor %}
  </ul>
</article>
-->
		
<!--
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
	{% if assignment.code == course.code  %}
    	    <li>
     	    <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
             <ul>
              <li> <a href="{{ assignment.url }}"> {{ assignment.title }} </a> </li>
  	     </ul>
    	   </li>
	{% else %}
	  <li>
	  <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
	  </li>
	{% endif %}
    {% endfor %}
  </ul>
</article>
-->

<!--
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
      {% for assignment in site.assignments %}
        {% if course.code == assignment.code  %}
    	    <li>
     	    <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
             <ul>
              <li> <a href="{{ assignment.url }}"> {{ assignment.title }} </a> </li>
  	     </ul>
    	   </li>
	{% else %}
	  <li>
	  <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
	  </li>
	{% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</article>
-->

<!--
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
      {% for assignment in site.assignments %}
        {% if assignment.code == course.code  %}
    	    <li>
     	    <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
             <ul>
              <li> <h4> <a href="{{ assignment.url }}"> {{ assignment.title }} </a> </h4> </li>
  	     </ul>
    	   </li>
	{% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</article>
-->

<!--
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="collection">
    {% for course in site.courses %}
    <li>
      <h3> <a href="{{ course.url }}"> {{ course.code }} - {{ course.name }} </a> </h3>
    </li>
    {% endfor %}
  </ul>
</article>
-->

<!-- <p> {{ course.content | markdownify }} </p> -->
